<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="vehicle_name" default="falcon"/>

    <arg name="robot_ns" default="$(arg vehicle_name)"/>
    <arg name="gazebo_ns" default=""/>

    <include file="$(find qrotor_gazebo)/launch/spawn_sdf.launch">
        <arg name="robot_name" value="pillow" />
        <arg name="x" value="0.0" />
        <arg name="y" value="0.0" />
        <arg name="z" value="1.0" />
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="0.0" />
        <arg name="sdf_robot_file" value="$(find qrotor_gazebo)/models/falcon/model.sdf" />
    </include>
</launch>